.Thumbnail {
  height: 399px;
  width: 600px;
  border: 0px black solid;
}

.Thumbnail-internal {
  background-color: #47a;
}

.Thumbnail-public {
  background-color: white;
}

#MainGraphic {
  position: relative;
  left: 40px;
  top: 10px;
  height: 330px;
  width: 470px;
  border: 1px #bbbbbb solid;
  background-position: center center;
  background-size: cover;
  background-image: var(--bg-image);
}

#WebMapGraphic {
  display: none;
  width: 100%;
  height: 100%;
}

.Internal-text {
  position: absolute;
  left: 18px;
  bottom: 69px;
  height: 145px;
  width: 30px;
  border: 0px #0000ff solid;
  font-weight: bold;
  font-size: 32px;
  color: white;
  text-align: left;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  font-variant: small-caps
}

.Thumbnail-public .Internal-text {
  display: none;
}

.Item-title-text {
  position: absolute;
  left: 0px;
  bottom: 3px;
  height: auto;
  width: 530px;
  border: 0px #00ff00 solid;
  font-weight: bold;
  font-size: 39px;
  color: #777;
  text-align: center;
  vertical-align: bottom;
}

.Thumbnail-internal .Item-title-text {
  color: white;
}

#WebMapUrl {
  display: none;  /* TODO: Remove this when bug #3 is fixed  */
}

.Item-type-text {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 399px;
  width: auto;
  border: 0px #00ff00 solid;
  font-weight: bold;
  font-size: 45px;
  color: white;
  background-color: #47a;
  text-align: center;
  writing-mode:vertical-lr;
  padding-left: 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.Thumbnail-internal .Item-type-text {
  background-color: white;
  color: #47a;
}

.Logo {
  position: absolute;
  left: 5px;
  top: 5px;
  border: 0px #00ff00 solid;
  max-width: 150px;
  max-height: 175px;
}
